<section class="userBanner w-screen p-2 bg-gradient-to-b from-[#ffbad4] pl-4">
    {{!-- {{#each catalog}}
    {{#log name}}
    {{/each}} --}}
    <section class="flex gap-2">
        <p class="text-3xl mb-2">
            Welcome home, <p class="animate__animated animate__bounceInRight text-3xl font-['"Dancing Script"', cursive;]">{{username}}</p>.
        </p>
    </section>
    <p class="text-xl">
        Let's make your shelves your safe space.
    </p>
</section>

{{!-- this section below with the h-screen is just so that I can make the footer stick at the bottom haha --}}
<section class="h-screen flex justify-evenly">
    <section>
        <img src="images/catalogs-sidebar.png" alt="sidebar with flowers, pink catalogs." class="h-screen pb-2">
    </section>
    <section class="catalogsHome p-2 inline-flex flex-col w-1/3 justify-center">
    {{!-- the add cats table below, embedded in the catshome --}}
        <section id="catName" class="createCat m-5 p-3">
            <form id="flex flex-col">
                <p class="text-xl pb-2 center-self">Create Catalog</p>
                <label for="catName" class="mb-2">Catalog name</label>
                <br>
                <!--GMS this will be our input value catch for the logic that renders a cat-->
                <input type="text" id="name-input" name="name"
                    class="newCatName w-full border rounded-md mb-3 p-1 focus:outline-[#ff828f]"
                    placeholder="ex. Vampire Parodies">
                <br>
                <label for="catGenre" class="pb-1">Catalog Type</label>
                <br>
                <input type="text" id="genre_type-input" name="genre_type" class="newCatName w-full border rounded-md p-1 focus:outline-[#ff828f]" placeholder="ex. Sci-Fi">
                <br>
                <button class="newCat border rounded-md mt-3 text-white bg-[#ff4797] hover:bg-white hover:text-black hover:border-[#ff4797] hover:border-2 px-2 py-1 w-full">Save Catalog</button>
            </form>
        </section>
        {{#each catalog}}
        {{log name}}
        
        <section class="catalogs p-2 m-2">
            <ul class="catList flex" id="catsCats">
                <li class="border w-full flex justify-between rounded-md p-2 bg-[#ffd166] hover:bg-white hover:border-2 hover:border-[#ffd166]" onclick="clickCat({{id}})">
                    <a href="#" class="pl-2">{{name}} {{genre_type}}</a>
                    <section class="content-end">
                        <i class="fa-solid fa-pen pt-1 p-1" role="button" onclick="editCat({{id}})"></i>
                        <i class="fa-solid fa-trash pt-1 p-1" role="button" onclick= "trashCat({{id}})"></i>
                    </section>
                </li>
            </ul>
        </section>
        {{/each}}
    </section>

    
    {{!-- id for cat button to add to cat is #addCatBook --}}

<script src="/js/style.js"></script>
<script src="/js/book.js"></script>
<script src="/js/renderCat.js"></script>
<script src="/js/deletebutton.js"></script>
<script src="/js/catalogs.js"></script>
<script src="/js/apiSearch.js"></script>